# config file for doing fanmix stuff specifically; only read when splitter-mode and/or fanmix-mode are true

# directory for combined lyrics/annotations
combine-dir=comm
combined-track=false
keep-gaps=true

# make an html file of the annotations
make-html=true

# the url extensions are optional, but basically when making the html files, this will automate the process of writing the links
mp3-host-url=https://file.garden/ZxXPG2A7WCEI6W2A
mp3-host-ext=xv-fanmix/01-butterfly-dreams-of-dawn
sub-host-url=https://sincerelyandyourstruly.neocities.org
sub-host-ext=works/fanmixes/xv/1-butterfly-dreams-of-dawn

# settings for the ass files themselves (partially implemented)
lyric-style=Lyrics
kara-fx=kara
