# directory for where the .ass files are
directory=../dummyfiles
# subtitle output folder
output=output
# (optional) path to the csv
csv=../dummyfiles/sample-tracklist.csv

# make the STYLE bit at the head of the vtt
stylesheet=false
style-borders=false

# making copies/deleting original files (unimplemented)
deletesrc=false
copysrc=false

# split into different files based on certain .ass file attr? (fanmix stuff would be a subtype of this) (partly implemented)
splitter-mode=true